############
# Required #
############

# Put environment type here (development, staging, or production)
NODE_ENV=development

# Put Discord bot token here, you can get it from https://discord.com/developers/applications
TOKEN=

# Put the database connection URL here
# Example for SQLite:
DB=sqlite://data.sqlite
# Example for PostgreSQL:
# DB=postgresql://esmbot:verycoolpass100@localhost:5432/esmbot

# Put snowflake ID of bot owner here (obtainable by going into Discord settings -> Appearance and enabling Developer Mode,
# then right clicking on your profile picture and selecting Copy ID)
OWNER=

# Put default classic command prefix here
PREFIX=&

############
# Optional #
############

# Set this to true if you want the bot to stay in voice chats after music has stopped
# (you can still make the bot leave using the stop command)
STAYVC=false
# Set this to true to disable music playback from YouTube
YT_DISABLED=false

# Put Tenor API key here (used for obtaining raw tenor GIF urls)
TENOR=

# Put HTML help page output location here, leave blank to disable
OUTPUT=
# Put temporary image dir here (make sure it's accessible via a web server), leave blank to disable
TEMPDIR=
# Put temporary image web server domain
TMP_DOMAIN=
# Threshold where optional space saving methods will be performed
THRESHOLD=
# Port for serving metrics. Metrics served are compatible with Prometheus.
METRICS=

# The image API type to be used
# Set this to `none` to process all images locally
# Set this to `ws` if you want to use the external image API script, located in api/index.js
API_TYPE=none

# Put ID of server to limit owner-only commands to
ADMIN_SERVER=