############
# Required #
############

# Put environment type here (development, staging, or production)
NODE_ENV=development

# Put Discord bot token here, you can get it from https://discord.com/developers/applications
TOKEN=

# Put the database connection URL here
# Example for SQLite:
DB=sqlite://data.sqlite
# Example for PostgreSQL:
# DB=postgresql://esmbot:verycoolpass100@localhost:5432/esmbot

# Put snowflake ID of bot owner here (obtainable by going into Discord settings -> Appearance and enabling Developer Mode,
# then right clicking on your profile picture and selecting Copy ID)
OWNER=

# Put default prefix here
PREFIX=&

############
# Optional #
############

# Set this to true if you want the bot to stay in voice chats after sound effects and music have stopped
# (you can still make the bot leave using the stop command)
STAYVC=false

# Put DBL/top.gg token here
DBL=
# Put Tenor API key here (used for obtaining raw tenor GIF urls)
TENOR=

# Put HTML help page output location here, leave blank to disable
OUTPUT=

# Where to upload files too large to send directly to Discord
# If set to "tempdir", files will be written to $TEMPDIR variable.
# If set to "s3", files will be uploaded to an S3-compatible server.
#
# If it is unset but $TEMPDIR is set, this will default to "tempdir" for
# backwards compatibility reasons.
UPLOADER=
# For tempdir and s3 uploaders, web server domain for image hosting
TMP_DOMAIN=
# Threshold where optional space saving methods will be performed
THRESHOLD=

# For tempdir uploader, put temporary image dir here (make sure it's accessible via a web server)
TEMPDIR=

# Options for s3 uploader
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_NO_SSL=

# Port for serving metrics. Metrics served are compatible with Prometheus.
METRICS=

# The image API type to be used
# Set this to `none` to process all images locally
# Set this to `ws` if you want to use the external image API script, located in api/index.js
# Set this to `azure` to use the Azure Functions API
API_TYPE=none
# If API_TYPE is `azure`, set this to your Azure webhook URL
AZURE_URL=
# If API_TYPE is `azure`, set an optional password for webhook responses
AZURE_PASS=